.filter-item-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-top: 8px;
}
.filter-item {
    background-color: #e6e6e6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.filter-panel {
    padding: 10px;
}
.filter-item.selected {
    background-color: red;
}
